common --enable_bzlmod
common --registry=file:///%workspace%/bazel/registry
common --registry=https://bcr.bazel.build
build --incompatible_enable_cc_toolchain_resolution
build --incompatible_strict_action_env
build --enable_runfiles

try-import %workspace%/user.bazelrc
